@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Poppins:wght@200&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    color: black;
}
body{
    margin-top: 6%;
    background-image: url(img/Fundo..equipe.png);
    background-size:cover;
    background-repeat:no-repeat;
    overflow-x: hidden;
    margin-left: 4%;
}
h1{
    font-size: 3.5rem;
    margin-bottom: 0;
}
img{
    width: 1.5rem;
    height: 1.5rem;
}
.descricao{
    margin-right: 50%;
    text-align: justify;
}
p{
    border-style: dashed;
    padding: 2%;
    border-width: 0.2rem;
    
}
#alice{
    padding-bottom: 2%;
    margin-top: 3%;
}