.main-jogo {
	background-color: #dcbcc4;
}

.tabuleiro {
	width: 710px;
	height: 720px;
	border-radius: 10px;
}

.modo {
	position: absolute;
	transition: all 0.5s;
}

#tela-final img {
	width: 710px;
	height: 720px;
}

#tela-final {
	opacity: 0;
	z-index: -1; /*ordem de empilhamento*/
}

#container {
	position: relative;
	margin: 50px auto;
	background-color: #ededed;
	border: outset;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.peca {
	width: 220px;
	height: 220px;
	margin: 5px 10px 5px 10px;
	position: absolute;
	transition: left 0.5s, top 0.5s;
}

.peca img {
	width: 100%;
}

.peca:hover {
	border: inset;
	border-radius: 10px;
}